<%- include('partials/header.ejs') %>
      <% if(message !="" ) { %>
        <div id="mensagem">
          <p>
            <%= message %>
          </p>
          <span id="close">&times;</span>
        </div>
        <% } %>

        <% pokedex.forEach((pokemon)=> { %>
        
          <div class="cards">
            <a href="/detalhes/<%= pokemon.id %>">
            <img src="<%= pokemon.imagem %>" alt="Imagem do Pokemon">
            <p id="numero">#
              <%= pokemon.numero %>
            </p>
            <h2>
              <%= pokemon.nome %>
            </h2>
            <p class="tipo">
              <span>
                <%= pokemon.tipo %>
              </span>
              </p>
            </a>
          </div>
          
          <% })%>
<%- include('partials/footer.ejs') %>